*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
body{
    @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&family=Lato:wght@400;700&family=PT+Serif:wght@400;700&family=Poppins:wght@400;700;900&family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;700&display=swap');
}
/* header style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    height: 130px;

}
.nav-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 0 40px 200px;
}
.nav-icon>img{
    width: 86px;
    height: 40px;
}

.gamer{
text-align: center;
font-size: 2.8rem;
font-weight: 700;
}
.G{
    color: #FF42A5;
}

.menu{
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 35px 240px 35px 0px;
    justify-content: center;
    align-items: center;
}

li a {
    text-decoration:none ;
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
}
.nav-btn{
    padding: 15px 50px 15px 24px;
    color: #3C354F;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border : none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fa-youtube{
color: red;
}

/* play section style */

.play-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play-content{
    background-image: url("./Group\ 14.png");
    padding: 140px 300px 450px 240px;
    background-position: cover;
    background-repeat: no-repeat;
}

.play-title{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.play-subtitle{
text-align: center;
font-size: 6rem;
font-weight: 800;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.play-list{
color: #534C64;
font-size: 1rem;
font-weight: 500;
text-transform: lowercase;
}

.sign-in-btn{
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    color: #FFF;
    font-size: 1rem;
    text-transform: uppercase;

}
.go-rogue-btn{
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
}
.play-list{
    text-decoration: none;
    list-style: none;
    color: #534C64;
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 20px;
}
.play-picture{

    margin-right: 200px;
    position: relative;
    bottom:  100px;

}
/* .play-picture>img{
   height: 800px;
   margin: 10px 200px 0px 60px;

} */